{% extends "../templates/page.html" %}
{% block title %}Adrián Arroyo Calle{% endblock %}
{% block body %}

<div style="text-align:center">
  <img width="500" src="/scryer-prolog-meetup.jpeg" alt="Photo of Adrián Arroyo Calle in Düsseldorf during the Scryer Prolog Meetup 2023">
</div>

<p>My name is Adrián Arroyo Calle, I'm a computer scientist from <a href="https://en.wikipedia.org/wiki/Valladolid">Valladolid, Spain</a>. I'm working at <a href="https://www.telefonica.com/">Telefónica</a> as backend developer, with a devops mindset. I also teach some classes at Valladolid University. I'm very curious about the world, always looking for the not-so-known things. This is the entry point to my Internet home. When I grow up I want to be an Illuminati.</p>

<p>大家好！我叫Adrian. 我是电脑的工程师，住在Valladolid （西班牙）。我在Telefónica工作。我也是中文学生！</p>

<blockquote> If everybody thinks the same, then somebody isn't thinking.</blockquote>

<p>Use the left bar to navigate between projects.</p>

<h1>Interests and hobbies</h1>

<p>These are some things, but not all, that I'm interested in:</p>
<div class="hobby-table">
  <div class="hobby-row">
    <span>prolog</span>
    <span>history</span>
    <span>rust</span>
    <span>devops</span>
  </div>
  <div class="hobby-row">
    <span>databases</span>
    <span>biking</span>
    <span>javascript</span>
    <span>webdev</span>
  </div>
  <div class="hobby-row">
    <span>gamedev</span>
    <span>emacs</span>
    <span>music</span>
    <span>maps</span>
  </div>
  <div class="hobby-row">
    <span>philosophy</span>
    <span>travel</span>
    <span>scuba</span>
    <span>kotlin</span>
  </div>
</div>

<h1>Resume</h1>

<p>You can <a href="/resume.pdf">download my resume here</a>.</p>

<h1>Contact me</h1>

<ul>
<li>Email: aarroyoc (@) adrianistan DOT eu</li>
<li><a href="https://github.com/aarroyoc/">GitHub</a></li>
<li><a href="https://twitter.com/aarroyoca">Twitter / X</a></li>
<li><a href="https://www.linkedin.com/in/adrianarroyocalle/">LinkedIn</a></li>
<li><a href="https://t.me/aarroyoc">Telegram</a></li>
<li><a href="https://www.instagram.com/aarroyoca/">Instagram</a></li>
</ul>

<div class="canvas">
  <canvas width="720" height="720" id="canvas"></canvas>
</div>
<script async src="/tree.js"></script>
{% endblock %}
