{% extends "../templates/page.html" %}
{% block title %}Adrián Arroyo Calle{% endblock %}
{% block body %}

<p>My name is Adrián Arroyo Calle, I'm a computer scientist from <a href="https://en.wikipedia.org/wiki/Valladolid">Valladolid, Spain</a>. I'm finishing my studies in computer science at Valladolid University and working at <a href="https://www.telefonica.com/">Telefónica</a> as backend developer, with a devops mindset. I also teach some classes at Valladolid University. I'm very curious about the world, always looking for the not-so-known things. This is the entry point to my Internet home. When I grow up I want to be an Illuminati.</p>

<blockquote> If everybody thinks the same, then somebody isn't thinking.</blockquote>

<p>Use the left bar to navigate between projects.</p>

<h1>Interests and hobbies</h1>

<p>These are some things, but not all, that I'm interested in:</p>
<div class="hobby-table">
  <div class="hobby-row">
    <span>prolog</span>
    <span>history</span>
    <span>rust</span>
    <span>devops</span>
  </div>
  <div class="hobby-row">
    <span>databases</span>
    <span>orienteering</span>
    <span>javascript</span>
    <span>webdev</span>
  </div>
  <div class="hobby-row">
    <span>gamedev</span>
    <span>python</span>
    <span>ai</span>
    <span>maps</span>
  </div>
  <div class="hobby-row">
    <span>philosophy</span>
    <span>travel</span>
    <span>scuba</span>
    <span>kotlin</span>
  </div>
</div>

<h1>Resume</h1>

<p>You can <a href="/resume.pdf">download my resume here</a>.</p>

<h1>Contact me</h1>

<ul>
<li>Email: adrian D0T arroyocalle (@) gmail D0T com</li>
<li><a href="https://github.com/aarroyoc/">GitHub</a></li>
<li><a href="https://twitter.com/aarroyoca">Twitter</a></li>
<li><a href="https://www.linkedin.com/in/adrianarroyocalle/">LinkedIn</a></li>
<li><a href="https://t.me/aarroyoc">Telegram</a></li>
<li><a href="https://www.instagram.com/aarroyoca/">Instagram</a></li>
<li><a href="https://mstdn.io/@aarroyoc">Mastodon</a></li>
</ul>

<div class="canvas">
  <canvas width="720" height="720" id="canvas"></canvas>
</div>
<script async src="/tree.js"></script>
{% endblock %}
