{% extends "../../../templates/project.html" %}
{% block name %}Scryer Prolog{% endblock %}
{% block description %}
<p>Scryer Prolog is a modern ISO Prolog system created by Mark Thom. I collaborate with the project in several areas:</p>
<ul>
  <li>Libraries: http_server, ffi, uuid, postgresql-prolog, djota, teruel, ...</li>
  <li>Documentation: DocLog, Scryer website, Scryer Playground, ...</li>
  <li>And small fixes in the Rust code.</li>
</ul>
<p>If you haven't tried Scryer Prolog, don't waste your time and do it!</p>
{% endblock %}
{% block website %}https://www.scryer.pl{% endblock %}
