{% extends "../../../templates/project.html" %}
{% block name %}Mendel Vectorizer{% endblock %}
{% block description %}

<p>Mendel Vectorizer is a Rust program that allows doing simple vectorization of black/white raster shapes. You only need to select some points in the shape, and the algorithm will try to join the points using Bezier curves. It's a genetic algorithm.</p>


<img src="/mendelvectorizer.png" alt="Mendel Vectorizer">
{% endblock %}
{% block website %}https://github.com/aarroyoc/mendel-vectorizer{% endblock %}