{% extends "../../../templates/project.html" %}
{% block name %}Webdev{% endblock %}
{% block description %}
<p>Some other minor pages that I've created or coauthored, some of them are not actively mantained:</p>
<ul>
<li><a href="https://gamingonhaiku.cf/">Gaming on Haiku</a>: Website about games on Haiku</li>
<li><a href="https://yayeyo.ga">Yayeyo</a>: Educational content</li>
<li><a href="https://www.nexcono.es">Nexcono</a></li>
<li><a href="https://files.adrianistan.eu">Adrianistán Files</a></li>
</ul>

<p>Some already retired sites:</p>
<ul>
    <li>Gamedev Hispano</li>
    <li>TucTum</li>
    <li>Lector</li>
    <li>Shortki.gq: Anonymous URL shortener</li>
    <li>Phaser.js Hispano</li>
    <li>BigLittleData</li>
</ul>
{% endblock %}