{% extends "../../../templates/project.html" %}
{% block name %}Anrokku{% endblock %}
{% block description %}

<p>Anrokku is a puzzle game based on the Rush Hour boardgame. It has two versions:</p>
<ul>
<li>Desktop version. Made with Python 3 and GTK 3</li>
<li>Mobile version. Made with TypeScript and Phaser. <a href="https://play.google.com/store/apps/details?id=eu.adrianistan.anrokku">Available at Google Play</a></li>
</ul>

<h3>Desktop</h3>
<img src="/anrokku.png" alt="Main menu">
<img src="/anrokku-2.png" alt="In Game">
<img src="/anrokku-3.png" alt="End screen">
<h3>Mobile</h3>
<img src="/anrokkumobile-1.png" alt="Mobile 1">
<img src="/anrokkumobile-2.png" alt="Mobile 2">
{% endblock %}
{% block website %}https://github.com/aarroyoc/Anrokku{% endblock %}