{% extends "../../../templates/project.html" %}
{% block name %}Agromapa CyL{% endblock %}
{% block description %}

<p>Agromapa Castilla y León is an interactive data visualization that shows the agricultural situation of Castilla y León. It was presented as part of a regional hackathon, winning a special mention. Uses D3 data visualization. <a href="https://datos.gob.es/es/aplicaciones/agromapa-de-castilla-y-leon">It was featured at national level also</a></p>

<p><a href="https://blog.adrianistan.eu/agromapa-castilla-leon">How was made (Spanish)</a></p>

<img src="/coloragromapa.png" alt="Color AgroMapa">
<img src="/agromapa.png" alt="AgroMapa">
<img src="/agromapa-1.png" alt="AgroMapa 1">
<img src="/agromapa-2.png" alt="AgroMapa 2">
{% endblock %}
{% block website %}http://adrianistan.eu/agromapa/{% endblock %}