{% extends "../../../templates/project.html" %}
{% block name %}Firefox Addons{% endblock %}
{% block description %}

<p>For a long time, I was building addons for Firefox, Thunderbird, SeaMonkey and lastly Chrome. Nowadays, most of them are not compatible with modern Firefox, but some of them were successful like Google+ Share, Send to Mail or El Tiempo en España.</p>

<img src="/divhttp-1.0.png" alt="DivHTTP">
<img src="/mozcleaner-1.1.png" alt="mozCleaner">
<img src="/the-super-clock-1.0.png" alt="The Super Clock">
{% endblock %}
{% block website %}https://github.com/aarroyoc/firefox-addons{% endblock %}