{% extends "../../../templates/project.html" %}
{% block name %}Ruta x Ruta{% endblock %}
{% block description %}
<p>Ruta x Ruta x Castilla y León is an open data project. Winner of the Open Data Contest of Castilla y León (2021) in students category. It's a webapp that shows you routes and automatically searches interesting points around you.</p>

<p>It also allows the user to submit GPS tracks and analyze them (map, altimeter, metrics, ...)</p>

<img src="/Rutaxruta2.png" alt="See route">
<img src="/Rutaxruta3.png" alt="See track">

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/J1TvNCHufbQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
{% block website %}https://rutaxruta.com{% endblock %}