{% extends "../../../templates/project.html" %}
{% block name %}Mapaquiz{% endblock %}
{% block description %}
<p>Mapaquiz is a website to learn while playing mapaquizs. What is a mapaquiz? A mapaquiz is a quiz game where the answers is in a map. You can play the already created mapaquizs or you can create your own mapaquizs and publish them.</p>
<img src="/mapaquizweb.png" alt="Front page of Mapaquiz">
<img src="/mapaquizolimpiadas.png" alt="Playing mapaquiz">
{% endblock %}
{% block website %}https://mapaquiz.com{% endblock %}