{% extends "../../../templates/page.html" %}
{% block title %}Send to Mail{% endblock %}
{% block body %}
<p>Thanks for downloading Send to Mail, available for Firefox, Chrome, Edge and Opera. Check out some more projects if you want. If you have any problem, don't hesitate to contact me.</p>

<img src="/mail-none.png" alt="Send to Mail 1">
<img src="/mail.png" alt="Send to Mail 2">
<img src="/mail1.png" alt="Send to Mail 3">
<img src="/mail2.png" alt="Send to Mail 4">
<img src="/mail3.png" alt="Send to Mail 5">
<img src="/servermaildaemon.png" alt="Send to Mail 6">

<p>Gracias por descargar Send to Mail, disponible para Firefox, Chrome, Edge y Opera. Revisa algunos de mis otros proyectos. Si tienes algún problema, no dudes en contactarme.</p>
{% endblock %}