{% extends "../../../templates/project.html" %}
{% block name %}Kovel{% endblock %}
{% block description %}

<p>Kovel is a 3D voxel editor for Haiku, Linux and Windows. Create fantastic models without knowledge. Just fill the grid with your colors! Save your models in Kovel file (*.kvl) or in COLLADA DAE (only export). See changes in your models in realtime, rotate and scale. Kovel also has infinite undo history (in a same file). Kovel has a command line tool (kovelcli) to automate your work pipeline. Convert all your Kovel files into Collada DAE in a few commands.</p>

<p>It uses wxWidgets, OpenGL and libbson and it's made in C++.</p>

<img src="/kovel.png" alt="kovel.png">
<img src="/kovel-1.png" alt="Kovel 1">
<img src="/kovelicon.png" alt="Icon made in Kovel">
<img src="/kovelrotate.png" alt="Rotate models in Kovel">
<img src="/kovelhaiku.png" alt="Kovel on Haiku">
<img src="/blenderkovel.png" alt="Blender editing">
{% endblock %}
{% block website %}http://github.com/aarroyoc/kovel{% endblock %}