{% extends "../../../templates/project.html" %}
{% block name %}SuperFreecell{% endblock %}
{% block description %}
<p>SuperFreeCell is a Freecell game for Haiku and BeOS. It was done as part of Google Code-In 2014.</p>

<p><a href="https://gamingonhaiku.cf/2016/05/22/superfreecell/">Post about it in Gaming on Haiku</a></p>

<img src="/superfreecell-1.png" alt="SuperFreeCell 1">
<img src="/superfreecell-2.png" alt="SuperFreeCell 2">
{% endblock %}
{% block website %}https://github.com/aarroyoc/SuperFreeCell{% endblock %}