{% extends "../../../templates/project.html" %}
{% block name %}Space Pipes{% endblock %}
{% block description %}
<p>Space Pipes is a puzzle game for web and <a href="https://play.google.com/store/apps/details?id=eu.adrianistan.space_pipes.twa">Android</a> platforms. To win the game you must join all the pieces together so that they're connected to the center piece. To achieve that you can rotate the pieces as you want. There are two modes: square grid and hexagonal grid.</p>

<img src="/spacepipesbanner.png" alt="SpacePipes image">

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/XGmP2zt6m6U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}
{% block website %}https://space-pipes.adrianistan.eu{% endblock %}